---
import FormattedDate from '../../components/FormattedDate.astro';

import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogCard from '../../components/blog/BlogCard.astro';
import { getPostsAndSeries, type PostListItem } from '../../lib/content.utils';
import SeriesCard from '../../components/blog/SeriesCard.astro';

const items = await getPostsAndSeries()
---

<BaseLayout title="All posts" description="All my posts">
  <section class="w-full md:w-content mx-auto">
    <h1 class="text-6xl font-display font-bold mb-4">All posts</h1>
    <ul>
      {
      items.map((post: PostListItem, index: number) => 
      post.isSeries ? (
      <li>
        <SeriesCard posts={post.posts} imageIdx={index} id={post.id} tags={post.data.tags} imagePath={post.data.image?.src} altText={post.data.image?.alt} title={post.data.title} description={post.data.description} date={post.data.pubDate} /> 
      </li>
      ) : (
      <li>
        <BlogCard imageIdx={index} id={post.id} tags={post.data.tags} imagePath={post.data.image?.src} altText={post.data.image?.alt} title={post.data.title} description={post.data.description} date={post.data.pubDate}/>
      </li>
      )

      )
      }
    </ul>
  </section>
</BaseLayout>

