---
import FormattedDate from '../../components/FormattedDate.astro';

import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogCard from '../../components/blog/BlogCard.astro';
import { getPostsAndSeries } from '../../content.utils';

const items = await getPostsAndSeries()
---

<BaseLayout title="All posts" description="All my posts">
  <section class="w-full md:w-content mx-auto">
    <h1 class="text-6xl font-display font-bold mb-4">All posts</h1>
    <ul>
      {
      items.map((post: any, index: number) => (
      <li>
        <BlogCard imageIdx={index} id={post.id} tags={post.data.tags} imagePath={post.data.image?.src} altText={post.data.image?.alt} title={post.data.title} description={post.data.description} date={post.data.pubDate}/>
      </li>
            ))
      }
    </ul>
  </section>
</BaseLayout>

