---
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro'
import BlogCard from '../../components/blog/BlogCard.astro';
import { dynamicPostFilter, getSeriesPosts, type SeriesPost, type SeriesPosts } from '../../lib/content.utils';

export async function getStaticPaths() {
  const allPosts = dynamicPostFilter(await getCollection('blog'));
  const series = await getCollection('series')
  
  return await Promise.all(series.map(async (s) => {
    const seriesPosts = await getSeriesPosts(s, allPosts) 
    return {
      params: {slug: s.id },
      props: { posts: seriesPosts, series: s },
    };
  }));
}

interface Props {
  posts: SeriesPost[],
  series: CollectionEntry<"series">
}

let {posts, series} = Astro.props
let {slug} = Astro.params
console.log(posts)
const orderedPosts = posts.sort((a, b) => {
  return (a.index ) - (b.index)
})
---

<BaseLayout title={`${series.data.name} | Index`} description={series.data.description}>
  <section class="w-full md:w-content mx-auto">
    <h1 class="text-6xl font-display font-bold mb-4">{series.data.name}</h1>
    <p>{series.data.description}</p>
    <ul>
      {
      orderedPosts.map((post, index) => (
      <li>
        <BlogCard part={post.index} imageIdx={index} id={post.id} tags={post.data.tags} imagePath={post.data.image?.src} altText={post.data.image?.alt} title={post.data.title} description={post.data.description} date={post.data.pubDate}/>
      </li>
            ))
      }
    </ul>
  </section>


</BaseLayout>
