---
import  Figure from '../Figure.astro';
import FormattedDate from '../FormattedDate.astro';
import TagDisplay from './TagDisplay.astro';
import LinkButton from '../LinkButton.astro';
import {Icon} from "astro-icon/components"
import CardHeader from './CardHeader.astro';

interface Props {
	id: string;
	image?: {src: string, alt: string}
  title: string;
  description: string;
  date: Date;
  tags?: string[];
  imageIdx?: number
	part?: number;
	pinned?: boolean
}


let {id, image, title, description, date, tags, part,imageIdx=0, pinned = false}: Props = Astro.props

const loading: "eager" | "lazy" = imageIdx < 3 ? "eager" : "lazy"
const href = `/blog/${id}`  
const headerImage = image ? {...image, loading} : undefined
---

<div class="relative overflow-hidden border block transition-all border-duotone hover:border-duotone-hover p-4 rounded">
	<CardHeader {title} {href} image={headerImage} {pinned}/>
        <p class="text-sm italic">
        <FormattedDate date={date} />
      </p>
  <p class="mb-2">{description}</p>
  <LinkButton primary {href}>Read more <Icon name="lucide:arrow-right"/></LinkButton>
  {tags && (
  <div class="flex flex-row gap-2 mt-2">
    <TagDisplay tags={tags}/>
  </div>
  )}
</div>

