---
import { Icon } from 'astro-icon/components';
import Figure from '../Figure.astro';

interface Props {
	title: string;
	pinned: boolean;
	href: string;
	part?: number;
	image?: {src: string, alt: string, loading: "lazy" | "eager"};
}

const {title, pinned, href, part, image} = Astro.props
---

<a  {href}>
    {image !== undefined &&  <Figure image={true} loading={image.loading} class="mb-2 rounded" src={image.src} alt={image.alt} />}
    {part !== undefined && (<p class="font-body text-sm font-bold">Part {part}</p>)}  
    <div class="flex flex-row items-center justify-between">
			<h2 class="font-bold font-display text-2xl">{title}</h2>
			{pinned === true && (
			<span class="flex px-4 flex-row items-center gap-1">
				<Icon size="24" class="text-primary-500 stroke-2" name="lucide:pin"	/>
			</span>
			)}
		</div>
  </a>

