---
import type { CollectionEntry } from 'astro:content'
import SeriesButton from './SeriesButton.astro'
import type { SeriesPost } from '../../lib/content.utils'

interface Props {
  next?: SeriesPost,
  prev?: SeriesPost 
}

const {next, prev } = Astro.props
---

<div class="flex flex-row rounded items-end mt-4 justify-between" >
    {prev != undefined && (
  <SeriesButton otherExists={next != undefined} href={`/blog/${prev.id}`} next={false} title={prev.data.title} index={prev.index ?? 0}/>
  )}
    {next != undefined && (
  <SeriesButton otherExists={prev != undefined} href={`/blog/${next.id}`} next={true} title={next.data.title} index={next.index ?? 0}/>
    )}


</div>

