---
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import BlogCard from '../../../components/blog/BlogCard.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  const uniqueTags = [...new Set(posts.map((post: any) => post.data.tags).flat())];
  return uniqueTags.map((tag) => {
    const filteredPosts = posts.filter((post: any) => post.data.tags?.includes(tag));
    return {
      params: {slug: tag },
      props: { posts: filteredPosts},
    };
  });
}

let {posts} = Astro.props
let {slug} = Astro.params
---

<BaseLayout title={`Posts with the ${slug} tag`}>
  <section class="w-content mx-auto">
<h1 class="text-4xl font-display font-bold mb-4">Posts tagged with <span class="font-mono">#{slug}</span></h1>
    <ul>
      {
      posts.map((post: any) => (
      <li>
        <BlogCard id={post.id} tags={post.data.tags} imagePath={post.data.image} altText={post.data.imageAlt} title={post.data.title} description={post.data.description} date={post.data.pubDate}/>
      </li>
            ))
      }
    </ul>
  </section>


</BaseLayout>
