---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

import BaseLayout from './BaseLayout.astro';
import type { Heading, HeadingLevel } from '../toc';
import Toc from "../components/Toc.astro"

type Props = CollectionEntry<'blog'>['data'] & {headings: HeadingLevel[]}

const { title, description, pubDate, updatedDate, image, tags, imageAlt, headings } = Astro.props;
---

<BaseLayout title={title} description={description}>
    <article class="w-content mx-auto">
    <div class="hero-image rounded-md overflow-clip">
      {image && <img src={image} alt={imageAlt} />}
    </div>
    <div>
      <div class="mt-4">
        <h1 class="title mb-0">{title}</h1>
        <div class="date">
          <FormattedDate date={pubDate} />
          {
          updatedDate && (
          <div class="last-updated-on">
            Last updated on <FormattedDate date={updatedDate} />
          </div>
          )
          }
        </div>

      <Toc headings={headings}/>
        <hr />
      </div>
    </div>
    <slot />
  </article>
</BaseLayout>

